#**Desenvolvimento do Cadastro_Mestre_Pessoas**

##Importando das bibliotecas

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

##Acesso Ã s tabelas

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive/',force_remount=True)
!ls /content/gdrive/

Mounted at /content/gdrive/
MyDrive  Othercomputers  Shareddrives

## Upload das tabelas - Ouro Preto

In [ ]:
cidadao_pec = pd.read_csv('/content/gdrive/Shareddrives/eSUS_Colab/PAINEL_OURO_PRETO/INPUT/tb_fat_cidadao_pec.csv',sep=';',engine='python', decimal = ',',keep_default_na=False)
cidadao_pec = cidadao_pec.drop_duplicates()

In [ ]:
cidadao_territorio = pd.read_csv('/content/gdrive/Shareddrives/eSUS_Colab/PAINEL_OURO_PRETO/INPUT/tb_fat_cidadao_territorio.csv',sep=';',engine='python', decimal = ',')
cidadao_territorio = cidadao_territorio.drop_duplicates()

In [ ]:
familia_territorio = pd.read_csv('/content/gdrive/Shareddrives/eSUS_Colab/PAINEL_OURO_PRETO/INPUT/tb_fat_familia_territorio.csv',sep=';',engine='python', decimal = ',')
familia_territorio = familia_territorio.drop_duplicates()

In [ ]:
cad_domiciliar = pd.read_csv('/content/gdrive/Shareddrives/eSUS_Colab/PAINEL_OURO_PRETO/INPUT/tb_fat_cad_domiciliar.csv',sep=';',engine='python', decimal = ',')
cad_domiciliar = cad_domiciliar.drop_duplicates()

In [ ]:
cad_individual = pd.read_csv('/content/gdrive/Shareddrives/eSUS_Colab/PAINEL_OURO_PRETO/INPUT/tb_fat_cad_individual.csv',sep=';',engine='python', decimal = ',')
cad_individual = cad_individual.drop_duplicates()

## Contagem de linhas e colunas

In [ ]:
cidadao_pec.shape

(135558, 15)

In [ ]:
cidadao_territorio.shape

(91795, 17)

In [ ]:
familia_territorio.shape

(30455, 19)

In [ ]:
cad_domiciliar.shape

(64940, 61)

In [ ]:
cad_individual.shape

(181208, 134)

## Processamento (limpeza das bases)

###Cadastro Individual

In [ ]:
cad_individual.head(1)

,co_seq_fat_cad_individual,nu_uuid_ficha,nu_uuid_ficha_origem,st_recusa_cadastro,nu_cns,dt_nascimento,st_desconhece_mae,co_dim_profissional,co_dim_tipo_ficha,co_dim_municipio,co_dim_unidade_saude,co_dim_equipe,co_dim_tempo,co_dim_tempo_validade,co_dim_tempo_validade_recusa,co_dim_sexo,co_dim_raca_cor,co_dim_nacionalidade,co_dim_pais_nascimento,co_dim_municipio_cidadao,nu_cns_responsavel,st_responsavel_familiar,st_frequenta_creche,st_frequenta_cuidador,st_participa_grupo_comunitario,st_plano_saude_privado,st_comunidade_tradicional,st_deficiencia,st_defi_auditiva,st_defi_intelectual_cognitiva,st_defi_outra,st_defi_visual,st_defi_fisica,st_gestante,st_doenca_respiratoria,st_doenca_respira_asma,st_doenca_respira_dpoc_enfisem,st_doenca_respira_outra,st_doenca_respira_n_sabe,st_fumante,st_alcool,st_outra_droga,st_hipertensao_arterial,st_diabete,st_avc,st_infarto,st_hanseniase,st_tuberculose,st_cancer,st_internacao_12,st_tratamento_psiquiatra,st_acamado,st_domiciliado,st_usa_planta_medicinal,st_doenca_cardiaca,st_doenca_card_insuficiencia,st_doenca_card_outro,st_doenca_card_n_sabe,st_problema_rins,st_problema_rins_insuficiencia,st_problema_rins_outro,st_problema_rins_nao_sabe,st_pic,st_morador_rua,st_recebe_beneficio,st_referencia_familiar,co_dim_frequencia_alimentacao,st_orig_alimen_restaurante_pop,st_orig_alimen_doacao_reli,st_orig_alimen_doacao_rest,st_orig_alimen_doacao_popular,st_orig_alimen_outros,st_acompanhado_instituicao,st_visita_familiar_frequente,st_higiene_pessoal_acesso,st_hig_pess_banho,st_hig_pess_sanitario,st_hig_pess_higiene_bucal,st_hig_pess_outros,co_dim_tipo_parentesco,co_dim_cbo,co_dim_tipo_escolaridade,co_dim_situacao_trabalho,co_dim_tipo_orientacao_sexual,co_dim_tipo_saida_cadastro,co_dim_tipo_condicao_peso,co_dim_tempo_morador_rua,co_dim_etnia,co_dim_cbo_cidadao,co_dim_identidade_genero,co_dim_faixa_etaria,st_desconhece_pai,st_informar_orientacao_sexual,st_informar_identidade_genero,dt_naturalizacao,dt_entrada_brasil,dt_obito,st_respons_crianca_adulto_resp,st_respons_crianca_outra_crian,st_respons_crianca_adolescente,st_respons_crianca_sozinha,st_respons_crianca_creche,st_respons_crianca_outro,nu_micro_area,st_processo_linha_tempo,st_processo_cidadao,no_nome,no_nome_social,no_nome_mae,no_nome_pai,nu_nis,nu_portaria_naturalizacao,nu_celular,no_email,nu_obito_do,no_maternidade_referencia,no_causa_internacao12,no_plantas_medicinais,no_outra_condicao1,no_outra_condicao2,no_outra_condicao3,no_acompanhado_instituicao,no_visita_familiar_parentesco,nu_uuid_dado_transp,co_dim_tipo_origem_dado_transp,co_dim_cds_tipo_origem,st_gerado_automaticamente,st_ficha_inativa,co_fat_cidadao_pec,co_fat_cidadao_pec_responsvl,st_proc_operacionais,nu_cpf_cidadao,nu_cpf_responsavel,co_dim_povo_comunidad_trad
0,1236951,2112604-eade448e-a8f6-45dd-95d4-d51049986c92,2112604-eade448e-a8f6-45dd-95d4-d51049986c92,0,0,1936-11-21,0,7805,2,9196,500,335,20200504,30001231,30001231,2,3,1,31,9196,NaN,1.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,NaN,NaN,0,0,0,0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,0.0,0.0,0.0,NaN,0,0,0,NaN,0,0,0,0.0,0.0,NaN,NaN,4,0,0,0,0,0,NaN,NaN,NaN,0,0,0,0,11,5618,16,6,5,3,4,5,265,1,5,21,0,0.0,0.0,NaN,NaN,NaN,0,0,0,0,0,0,06,0,0,e9c8225975104d6a9ca46aa0c0ba272aa254dbdd027a9d...,NaN,d7fe7a9e11af7a6196be6e941f3e1646d8ae93161cad6d...,266820bebed58b0d11d36a09739bdcd7c18e3b78fe361e...,NaN,NaN,3c55192c8bdd846e7e34a37bb3836118,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2112604-eade448e-a8f6-45dd-95d4-d51049986c92,3,3,0,0,780359,NaN,0,24196312691,NaN,NaN

In [ ]:
cad_individual.shape

(181208, 134)

Deixando somente colunas de interesse

In [ ]:
cad_individual_SELECTED = cad_individual[['co_seq_fat_cad_individual','nu_cns','dt_nascimento','co_dim_unidade_saude','co_dim_equipe','co_dim_tempo','co_dim_sexo',
           'co_dim_raca_cor','co_dim_nacionalidade','nu_cns_responsavel','st_responsavel_familiar','co_dim_municipio',
           'st_frequenta_creche','st_plano_saude_privado','st_deficiencia','st_defi_auditiva','st_defi_intelectual_cognitiva','st_defi_outra','st_defi_visual',
           'st_defi_fisica','st_gestante','st_doenca_respiratoria','st_doenca_respira_asma','st_doenca_respira_dpoc_enfisem','st_doenca_respira_outra',
           'st_doenca_respira_n_sabe','st_fumante','st_alcool','st_outra_droga','st_hipertensao_arterial','st_diabete','st_avc','st_infarto','st_hanseniase',
           'st_tuberculose','st_cancer','st_internacao_12','st_tratamento_psiquiatra','st_acamado','st_domiciliado','st_doenca_cardiaca',
           'st_doenca_card_insuficiencia','st_problema_rins','st_problema_rins_insuficiencia','st_morador_rua','co_dim_tipo_parentesco',
           'co_dim_tipo_escolaridade','co_dim_situacao_trabalho','co_dim_tipo_orientacao_sexual','co_dim_tipo_condicao_peso','co_dim_tempo_morador_rua',
           'co_dim_etnia','co_dim_identidade_genero','co_dim_faixa_etaria','nu_micro_area','co_fat_cidadao_pec','co_fat_cidadao_pec_responsvl',
           'nu_cpf_cidadao','nu_cpf_responsavel']]
cad_individual_SELECTED.shape

(181208, 59)

Renomeando possÃ­veis duplicatas nas tabelas

In [ ]:
cad_individual_SELECTED = cad_individual_SELECTED.rename(columns={'co_dim_unidade_saude': 'co_dim_unidade_saude_CI'})
cad_individual_SELECTED = cad_individual_SELECTED.rename(columns={'co_dim_equipe': 'co_dim_equipe_CI'})
cad_individual_SELECTED = cad_individual_SELECTED.rename(columns={'dt_nascimento': 'dt_nascimento_CI'})
cad_individual_SELECTED = cad_individual_SELECTED.rename(columns={'co_dim_faixa_etaria': 'co_dim_faixa_etaria_CI'})
cad_individual_SELECTED = cad_individual_SELECTED.rename(columns={'co_dim_sexo': 'co_dim_sexo_CI'})
cad_individual_SELECTED = cad_individual_SELECTED.rename(columns={'nu_cns': 'nu_cns_CI'})
cad_individual_SELECTED = cad_individual_SELECTED.rename(columns={'co_dim_identidade_genero': 'co_dim_identidade_genero_CI'})
cad_individual_SELECTED = cad_individual_SELECTED.rename(columns={'nu_cpf_cidadao': 'nu_cpf_cidadao_CI'})
cad_individual_SELECTED = cad_individual_SELECTED.rename(columns={'co_dim_municipio': 'co_dim_municipio_CI'})

OtimizaÃ§Ã£o do codigo

In [ ]:
cad_individual_SELECTED = cad_individual_SELECTED[['co_fat_cidadao_pec','co_dim_sexo_CI','co_dim_unidade_saude_CI','co_dim_municipio_CI','co_dim_tempo','co_dim_identidade_genero_CI','dt_nascimento_CI','nu_cpf_cidadao_CI']]

###CidadÃ£o PEC

In [ ]:
cidadao_pec.head(1)

   co_seq_fat_cidadao_pec co_cidadao           nu_cns no_cidadao no_social_cidadao co_dim_tempo_nascimento co_dim_sexo co_dim_identidade_genero nu_telefone_celular st_faleceu  st_lookup_etl st_deletar nu_cpf_cidadao co_dim_unidade_saude_vinc co_dim_equipe_vinc
0                  694899             209442720310002                                                                                                                                       0

In [ ]:
cidadao_pec.shape

(135558, 15)

Deixando somente as colunas de interesse

In [ ]:
cidadao_pec_SELECTED = cidadao_pec.drop(columns=['co_cidadao','no_social_cidadao','nu_telefone_celular','st_faleceu','st_lookup_etl','st_deletar'])
cidadao_pec_SELECTED.shape

(135558, 9)

Renomeando

In [ ]:
cidadao_pec_SELECTED = cidadao_pec_SELECTED.rename(columns={'co_seq_fat_cidadao_pec':'co_fat_cidadao_pec'})
cidadao_pec_SELECTED = cidadao_pec_SELECTED.rename(columns={'nu_cns': 'nu_cns_CP'})
cidadao_pec_SELECTED = cidadao_pec_SELECTED.rename(columns={'co_dim_unidade_saude_vinc': 'co_dim_unidade_saude_vinc_CP'})
cidadao_pec_SELECTED = cidadao_pec_SELECTED.rename(columns={'co_dim_equipe_vinc': 'co_dim_equipe_vinc_CP'})
cidadao_pec_SELECTED = cidadao_pec_SELECTED.rename(columns={'co_dim_sexo': 'co_dim_sexo_CP'})
cidadao_pec_SELECTED = cidadao_pec_SELECTED.rename(columns={'co_dim_equipe_vinc': 'co_dim_equipe_vinc_CP'})
cidadao_pec_SELECTED = cidadao_pec_SELECTED.rename(columns={'co_dim_identidade_genero': 'co_dim_identidade_genero_CP'})
cidadao_pec_SELECTED = cidadao_pec_SELECTED.rename(columns={'nu_cpf_cidadao': 'nu_cpf_cidadao_CP'})

OtimizaÃ§Ã£o do codigo

In [ ]:
cidadao_pec_SELECTED = cidadao_pec_SELECTED[['co_fat_cidadao_pec','co_dim_sexo_CP','co_dim_identidade_genero_CP','co_dim_tempo_nascimento']]

###CidadÃ£o TerritÃ³rio

In [ ]:
cidadao_territorio.head(1)

   co_seq_fat_cidadao_territorio  co_dim_municipio  co_dim_unidade_saude  co_dim_equipe nu_micro_area  co_fat_cidadao_pec  st_responsavel  st_responsavel_informado  st_mudou_se  st_vivo  st_responsavel_com_fci  st_cns_null  st_cidadao_consistente  co_fat_familia_territorio  co_fat_ciddo_terrtrio_resp  st_processado_cidadao_respnsvl  co_fat_cad_individual
0                        2417038              9196                   495            329            07              696975               1                         1            0        0                       1            0                       0                   853499.0                   2417038.0                             1.0              1189827.0

In [ ]:
cidadao_territorio.shape

(91795, 17)

In [ ]:
cidadao_territorio_SELECTED = cidadao_territorio.drop(columns=['co_dim_equipe','nu_micro_area',
                                                                             'st_responsavel','st_responsavel_informado','st_mudou_se','st_vivo',
                                                                             'st_responsavel_com_fci','st_cns_null','st_cidadao_consistente',
                                                                             'co_fat_ciddo_terrtrio_resp','st_processado_cidadao_respnsvl'])
cidadao_territorio_SELECTED.shape

(91795, 6)

In [ ]:
cidadao_territorio_SELECTED = cidadao_territorio_SELECTED.rename(columns={'co_fat_familia_territorio':'co_seq_fat_familia_territorio'})

OtimizaÃ§Ã£o codigo

In [ ]:
cidadao_territorio_SELECTED = cidadao_territorio_SELECTED[['co_fat_cidadao_pec','co_seq_fat_cidadao_territorio','co_seq_fat_familia_territorio']]

###FamÃ­lia TerritÃ³rio

In [ ]:
familia_territorio.head(1)

   co_seq_fat_familia_territorio  co_dim_municipio  co_dim_unidade_saude  co_dim_equipe                          nu_uuid_ficha_origem  co_fat_cidadao_pec  co_fat_cad_domiciliar  co_dim_tempo_fcd nu_prontuario nu_micro_area  st_familia_fcd_mudouse  st_resp_com_fci_no_territorio  st_resp_declarado_no_fci  st_resp_outro_fcd_mais_atual  st_responsavel_ainda_reside  st_responsavel_vivo  st_familia_consistente  st_processo_att_cidadao  co_fat_cidadao_territorio
0                         365212              9196                   503            338  0000000-0f796500-d2b2-46ab-a40c-47f82bdf0126              778108                 395348          20080916            13            03                       0                              0                         0                             0                            1                    0                       0                        1                        NaN

In [ ]:
familia_territorio.shape

(30455, 19)

In [ ]:
columns = ['co_seq_fat_familia_territorio','co_fat_cidadao_pec','co_fat_cad_domiciliar','nu_prontuario','co_fat_cidadao_territorio']
familia_territorio_SELECTED = pd.DataFrame(familia_territorio, columns=columns)
familia_territorio_SELECTED.shape

(30455, 5)

OtimizaÃ§Ã£o codigo

In [ ]:
familia_territorio_SELECTED = familia_territorio_SELECTED[['co_fat_cidadao_pec','co_seq_fat_familia_territorio','co_fat_cad_domiciliar']]

###Cadastro Domiciliar

In [ ]:
cad_domiciliar.head(1)

,co_seq_fat_cad_domiciliar,nu_uuid_ficha,nu_uuid_ficha_origem,qt_morador,nu_comodo,st_recusa_cadastro,co_dim_tipo_ficha,co_dim_tipo_imovel,co_dim_profissional,co_dim_municipio,co_dim_unidade_saude,co_dim_equipe,co_dim_tempo,co_dim_tempo_validade,co_dim_tempo_validade_recusa,co_dim_tipo_logradouro,co_dim_municipio_cidadao,co_dim_tipo_situacao_moradia,co_dim_tipo_localizacao,co_dim_tipo_domicilio,co_dim_tipo_posse_terra,co_dim_tipo_acesso_domicilio,co_dim_tipo_material_parede,co_dim_tipo_abastecimento_agua,co_dim_tipo_tratamento_agua,co_dim_tipo_escoamento_sanitar,co_dim_tipo_destino_lixo,co_dim_cbo,st_disp_energia,st_animal_domiciliar,qt_animal_domiciliar,st_animal_gato,st_animal_cachorro,st_animal_passaro,st_animal_outros,st_outros_prof_vinclds,nu_micro_area,st_processo_linha_tempo,st_processo_familia,st_familias,ds_filtro_tipo_renda_familiar,nu_cep,no_logradouro,nu_num_logradouro,no_complemento,no_bairro,no_ponto_referencia,nu_telefone_residencia,nu_telefone_contato,no_instituicao_nome,no_instituicao_cargo,nu_instituicao_cns,nu_instituicao_telefone,nu_uuid_dado_transp,co_dim_tipo_origem_dado_transp,co_dim_cds_tipo_origem,st_gerado_automaticamente,st_proc_operacionais,st_processa_familita_terrtro,nu_latitude,nu_longitude
0,416286,2112566-6856238d-6cfb-4942-8545-f93a633fd9e3,2112566-6856238d-6cfb-4942-8545-f93a633fd9e3,NaN,NaN,0,3,1,7853,9196,510,346,20170911,30001231,30001231,25,9196,1,3,1,1,2,1,2,2,4,3,5618,1.0,1.0,NaN,0,1,0,0,NaN,06,0,0,1,||,818f728c236c0a64cdb221be213d9723,03f320914afb21b8a42a9b23fda0ed06b0ee0770d35a02...,30c5fa0522141d72271ab9035946409a,825e264a5f09444c9aa97a4da1207ce2,eb60649284ecc61dab0571c29111c65c4e928aae9169ba...,NaN,0148d4276e0c8925383c7398eb3cd03a,NaN,NaN,NaN,NaN,NaN,2112566-6856238d-6cfb-4942-8545-f93a633fd9e3,3,3,0,0,0.0,NaN,NaN

In [ ]:
cad_domiciliar.shape

(64940, 61)

In [ ]:
columns = ['co_seq_fat_cad_domiciliar','co_dim_unidade_saude','co_dim_equipe','co_dim_tempo','qt_morador','nu_comodo','co_dim_tipo_imovel',
           'co_dim_tipo_logradouro','co_dim_tipo_situacao_moradia','co_dim_tipo_localizacao','co_dim_tipo_domicilio','co_dim_tipo_posse_terra',
           'co_dim_tipo_acesso_domicilio','co_dim_tipo_material_parede','co_dim_tipo_abastecimento_agua','co_dim_tipo_tratamento_agua',
           'co_dim_tipo_escoamento_sanitar','co_dim_tipo_destino_lixo','st_disp_energia','st_animal_domiciliar','nu_micro_area','ds_filtro_tipo_renda_familiar','co_dim_municipio']
cad_domiciliar_SELECTED = pd.DataFrame(cad_domiciliar, columns=columns)

cad_domiciliar_SELECTED = cad_domiciliar_SELECTED.rename(columns={'co_dim_unidade_saude': 'co_dim_unidade_saude_CD'})
cad_domiciliar_SELECTED = cad_domiciliar_SELECTED.rename(columns={'co_dim_equipe': 'co_dim_equipe_CD'})
cad_domiciliar_SELECTED = cad_domiciliar_SELECTED.rename(columns={'co_dim_tempo': 'co_dim_tempo_CD'})
cad_domiciliar_SELECTED = cad_domiciliar_SELECTED.rename(columns={'nu_micro_area': 'nu_micro_area_CD'})
cad_domiciliar_SELECTED = cad_domiciliar_SELECTED.rename(columns={'co_dim_municipio': 'co_dim_municipio_CD'})
cad_domiciliar_SELECTED.shape

(64940, 23)

OtimizaÃ§Ã£o codigo

In [ ]:
cad_domiciliar_SELECTED = cad_domiciliar_SELECTED[['co_seq_fat_cad_domiciliar','co_dim_tipo_localizacao','co_dim_municipio_CD','co_dim_tempo_CD']]

## PreparaÃ§Ã£o para o linkage

###Cadastro Individual

Saber quantos tem chave Ãºnica

In [ ]:
len(cad_individual_SELECTED ['co_fat_cidadao_pec'].unique().tolist())

82634

In [ ]:
cad_individual_SELECTED ['co_fat_cidadao_pec'].dtypes

dtype('int64')

Criou uma coluna com a data de cadastro formatada

In [ ]:
cad_individual_SELECTED ['co_dim_tempo_CI'] = pd.to_datetime(cad_individual_SELECTED ['co_dim_tempo'].astype(str), format='%Y%m%d')

In [ ]:
cad_individual_SELECTED.head(1)

   co_fat_cidadao_pec  co_dim_sexo_CI  co_dim_unidade_saude_CI  co_dim_municipio_CI  co_dim_tempo  co_dim_identidade_genero_CI dt_nascimento_CI  nu_cpf_cidadao_CI co_dim_tempo_CI
0              780359               2                      500                 9196      20200504                            5       1936-11-21        24196312691      2020-05-04

In [ ]:
cad_individual_SELECTED.shape

(181208, 9)

Agrupando e deixando somente o cadastro mais recente

In [ ]:
cad_individual_SELECTED_group = cad_individual_SELECTED.groupby(
   ['co_fat_cidadao_pec'],as_index=False
).agg(
    {
         'co_dim_tempo_CI': 'max',  # get the first date per group
    }
)

In [ ]:
cad_individual_merge = pd.merge(cad_individual_SELECTED, cad_individual_SELECTED_group, how="right", on=['co_fat_cidadao_pec', 'co_dim_tempo_CI'])
cad_individual_merge.shape

(83085, 9)

In [ ]:
cad_individual_merge.head(1)

   co_fat_cidadao_pec  co_dim_sexo_CI  co_dim_unidade_saude_CI  co_dim_municipio_CI  co_dim_tempo  co_dim_identidade_genero_CI dt_nascimento_CI  nu_cpf_cidadao_CI co_dim_tempo_CI
0              694841               2                      509                 9196      20220309                            5       1996-08-31        10237295636      2022-03-09

In [ ]:
# To keep discard the duplicated row with a condition to keep only those with an higher amount of CPF
cad_individual_merge = cad_individual_merge.sort_values('nu_cpf_cidadao_CI',ascending=True).drop_duplicates(subset=['co_fat_cidadao_pec', 'co_dim_tempo_CI'],keep = 'last')
cad_individual_merge.shape

(82634, 9)

OtimizaÃ§Ã£o de codigos

In [ ]:
cad_individual_merge = cad_individual_merge.drop(['nu_cpf_cidadao_CI'], axis = 1)
cad_individual_merge.shape

(82634, 8)

In [ ]:
cad_individual_merge.head(5)

       co_fat_cidadao_pec  co_dim_sexo_CI  co_dim_unidade_saude_CI  co_dim_municipio_CI  co_dim_tempo  co_dim_identidade_genero_CI dt_nascimento_CI co_dim_tempo_CI
41542              738791               1                      495                 9196      20170731                            5       1985-04-25      2017-07-31
45515              742969               2                      504                 9196      20170904                            5       2015-02-15      2017-09-04
45516              742970               1                      509                 9196      20211001                            5       1987-08-08      2021-10-01
45517              742971               2                      506                 9196      20170904                            5       1980-08-20      2017-09-04
45518              742972               2                      509                 9196      20200603                            5       1941-10-24      2020-06-03

###CidadÃ£o PEC

In [ ]:
cidadao_pec_SELECTED = cidadao_pec_SELECTED.rename(columns={'co_seq_fat_cidadao_pec': 'co_fat_cidadao_pec'})
cidadao_pec_SELECTED.shape

(135558, 4)

In [ ]:
len(cidadao_pec_SELECTED['co_fat_cidadao_pec'].unique().tolist())

135558

In [ ]:
cidadao_pec_SELECTED['co_fat_cidadao_pec'].dtypes

dtype('int64')

###CidadÃ£o territÃ³rio

In [ ]:
len(cidadao_territorio_SELECTED ['co_fat_cidadao_pec'].unique().tolist())

82308

In [ ]:
cidadao_territorio_SELECTED ['co_fat_cidadao_pec'].dtypes

dtype('int64')

In [ ]:
cidadao_territorio_SELECTED_group = cidadao_territorio_SELECTED.groupby(
   ['co_fat_cidadao_pec'],as_index=False
).agg(
    {
         'co_seq_fat_cidadao_territorio': 'max',  # get the first date per group
    }
)

In [ ]:
cidadao_territorio_merge = pd.merge(cidadao_territorio_SELECTED, cidadao_territorio_SELECTED_group, how="right", on=['co_fat_cidadao_pec', 'co_seq_fat_cidadao_territorio'])
cidadao_territorio_merge.shape

(82308, 3)

In [ ]:
cidadao_territorio_merge.head(1)

   co_fat_cidadao_pec  co_seq_fat_cidadao_territorio  co_seq_fat_familia_territorio
0              694841                        2502990                            NaN

###FamÃ­lia territÃ³rio

In [ ]:
familia_territorio_SELECTED.shape

(30455, 3)

In [ ]:
familia_territorio_SELECTED.head(1)

   co_fat_cidadao_pec  co_seq_fat_familia_territorio  co_fat_cad_domiciliar
0              778108                         365212                 395348

In [ ]:
familia_territorio_SELECTED = familia_territorio_SELECTED.rename(columns={'co_seq_fat_familia_territorio': 'co_fat_familia_territorio'})
len(familia_territorio_SELECTED['co_fat_familia_territorio'].unique().tolist())

30455

In [ ]:
familia_territorio_SELECTED = familia_territorio_SELECTED.rename(columns={'co_fat_cidadao_pec': 'co_fat_cidadao_pec_FT'})

In [ ]:
familia_territorio_SELECTED.head(2)

   co_fat_cidadao_pec_FT  co_fat_familia_territorio  co_fat_cad_domiciliar
0                 778108                     365212                 395348
1                 698398                     365214                 395318

###Cadastro domiciliar

In [ ]:
cad_domiciliar_SELECTED.head(1)

   co_seq_fat_cad_domiciliar  co_dim_tipo_localizacao  co_dim_municipio_CD  co_dim_tempo_CD
0                     416286                        3                 9196         20170911

In [ ]:
len(cad_domiciliar_SELECTED['co_seq_fat_cad_domiciliar'].unique().tolist())

64940

In [ ]:
cad_domiciliar_SELECTED['co_dim_tempo_CD'] = pd.to_datetime(cad_domiciliar_SELECTED['co_dim_tempo_CD'].astype(str), format='%Y%m%d')
cad_domiciliar_SELECTED = cad_domiciliar_SELECTED.rename(columns={'co_seq_fat_cad_domiciliar': 'co_fat_cad_domiciliar'})

In [ ]:
cad_domiciliar_SELECTED_group = cad_domiciliar_SELECTED.groupby(
   ['co_fat_cad_domiciliar'],as_index=False
).agg(
    {
         'co_dim_tempo_CD': 'max',  # get the first date per group
    }
)

In [ ]:
cad_domiciliar_merge = pd.merge(cad_domiciliar_SELECTED, cad_domiciliar_SELECTED_group, how="right", on=['co_fat_cad_domiciliar', 'co_dim_tempo_CD'])
cad_domiciliar_merge.shape

(64940, 4)

In [ ]:
cad_domiciliar_merge.head(5)

   co_fat_cad_domiciliar  co_dim_tipo_localizacao  co_dim_municipio_CD co_dim_tempo_CD
0                 394506                        2                 9196      2015-12-10
1                 394507                        2                 9196      2015-12-23
2                 394508                        2                 9196      2015-12-30
3                 394509                        2                 9196      2015-12-30
4                 394510                        2                 9196      2016-01-04

## Linkage A = cad_individual VS cidadao_pec

In [ ]:
linkage_A = cidadao_pec_SELECTED.merge(cad_individual_merge, on='co_fat_cidadao_pec', how='left', indicator=True)
linkage_A.head(1)

   co_fat_cidadao_pec co_dim_sexo_CP co_dim_identidade_genero_CP co_dim_tempo_nascimento  co_dim_sexo_CI  co_dim_unidade_saude_CI  co_dim_municipio_CI  co_dim_tempo  co_dim_identidade_genero_CI dt_nascimento_CI co_dim_tempo_CI     _merge
0              694899                                                                                NaN                      NaN                  NaN           NaN                          NaN              NaN             NaT  left_only

In [ ]:
linkage_A['_merge'].value_counts()

both          82634
left_only     52924
right_only        0
Name: _merge, dtype: int64

In [ ]:
linkage_A = linkage_A.rename (columns={'_merge': '_mergeA'})

In [ ]:
linkage_A.shape

(135558, 12)

In [ ]:
len(linkage_A['co_fat_cidadao_pec'].unique().tolist())

135558

## Linkage B = Linkage A VS cidadao_territorio

In [ ]:
linkage_B = linkage_A.merge(cidadao_territorio_merge, on='co_fat_cidadao_pec', how='left', indicator=True)
linkage_B.head(1)

   co_fat_cidadao_pec co_dim_sexo_CP co_dim_identidade_genero_CP co_dim_tempo_nascimento  co_dim_sexo_CI  co_dim_unidade_saude_CI  co_dim_municipio_CI  co_dim_tempo  co_dim_identidade_genero_CI dt_nascimento_CI co_dim_tempo_CI    _mergeA  co_seq_fat_cidadao_territorio  co_seq_fat_familia_territorio     _merge
0              694899                                                                                NaN                      NaN                  NaN           NaN                          NaN              NaN             NaT  left_only                            NaN                            NaN  left_only

In [ ]:
linkage_B = linkage_B.rename (columns={'_merge': '_mergeB'})

In [ ]:
linkage_B = linkage_B.rename (columns={'co_seq_fat_familia_territorio': 'co_fat_familia_territorio'})

In [ ]:
len(linkage_B['co_fat_familia_territorio'].unique().tolist())

23222

In [ ]:
len(familia_territorio_SELECTED['co_fat_familia_territorio'].unique().tolist())

30455

In [ ]:
linkage_B.shape

(135558, 15)

In [ ]:
linkage_B.head(5)

   co_fat_cidadao_pec co_dim_sexo_CP co_dim_identidade_genero_CP co_dim_tempo_nascimento  co_dim_sexo_CI  co_dim_unidade_saude_CI  co_dim_municipio_CI  co_dim_tempo  co_dim_identidade_genero_CI dt_nascimento_CI co_dim_tempo_CI    _mergeA  co_seq_fat_cidadao_territorio  co_fat_familia_territorio    _mergeB
0              694899                                                                                NaN                      NaN                  NaN           NaN                          NaN              NaN             NaT  left_only                            NaN                        NaN  left_only
1              694900                                                                                NaN                      NaN                  NaN           NaN                          NaN              NaN             NaT  left_only                            NaN                        NaN  left_only
2              694901                                                                                NaN                      NaN                  NaN           NaN                          NaN              NaN             NaT  left_only                            NaN                        NaN  left_only
3              749364            2.0                         5.0              19920321.0             2.0                    498.0               9196.0    20180919.0                          5.0       1992-03-21      2018-09-19       both                      1034258.0                        NaN       both
4              694902                                                                                NaN                      NaN                  NaN           NaN                          NaN              NaN             NaT  left_only                            NaN                        NaN  left_only

##Linkage C = Linkage B VS familia_territorio

In [ ]:
linkage_C = linkage_B.merge(familia_territorio_SELECTED, on='co_fat_familia_territorio', how='left', indicator=True)
linkage_C.shape

(135558, 18)

In [ ]:
linkage_C = linkage_C.rename (columns={'_merge': '_mergeC'})

In [ ]:
len(linkage_C['co_fat_cad_domiciliar'].unique().tolist())

22187

In [ ]:
linkage_C.head(5)

   co_fat_cidadao_pec co_dim_sexo_CP co_dim_identidade_genero_CP co_dim_tempo_nascimento  co_dim_sexo_CI  co_dim_unidade_saude_CI  co_dim_municipio_CI  co_dim_tempo  co_dim_identidade_genero_CI dt_nascimento_CI co_dim_tempo_CI    _mergeA  co_seq_fat_cidadao_territorio  co_fat_familia_territorio    _mergeB  co_fat_cidadao_pec_FT  co_fat_cad_domiciliar    _mergeC
0              694899                                                                                NaN                      NaN                  NaN           NaN                          NaN              NaN             NaT  left_only                            NaN                        NaN  left_only                    NaN                    NaN  left_only
1              694900                                                                                NaN                      NaN                  NaN           NaN                          NaN              NaN             NaT  left_only                            NaN                        NaN  left_only                    NaN                    NaN  left_only
2              694901                                                                                NaN                      NaN                  NaN           NaN                          NaN              NaN             NaT  left_only                            NaN                        NaN  left_only                    NaN                    NaN  left_only
3              749364            2.0                         5.0              19920321.0             2.0                    498.0               9196.0    20180919.0                          5.0       1992-03-21      2018-09-19       both                      1034258.0                        NaN       both                    NaN                    NaN  left_only
4              694902                                                                                NaN                      NaN                  NaN           NaN                          NaN              NaN             NaT  left_only                            NaN                        NaN  left_only                    NaN                    NaN  left_only

##Linkage D = Linkage C VS cad_domiciliar

In [ ]:
linkage_D = linkage_C.merge(cad_domiciliar_merge, on='co_fat_cad_domiciliar', how='left', indicator=True)
linkage_D.shape

(135558, 22)

In [ ]:
linkage_D.head(2)

   co_fat_cidadao_pec co_dim_sexo_CP co_dim_identidade_genero_CP co_dim_tempo_nascimento  co_dim_sexo_CI  co_dim_unidade_saude_CI  co_dim_municipio_CI  co_dim_tempo  co_dim_identidade_genero_CI dt_nascimento_CI co_dim_tempo_CI    _mergeA  co_seq_fat_cidadao_territorio  co_fat_familia_territorio    _mergeB  co_fat_cidadao_pec_FT  co_fat_cad_domiciliar    _mergeC  co_dim_tipo_localizacao  co_dim_municipio_CD co_dim_tempo_CD     _merge
0              694899                                                                                NaN                      NaN                  NaN           NaN                          NaN              NaN             NaT  left_only                            NaN                        NaN  left_only                    NaN                    NaN  left_only                      NaN                  NaN             NaT  left_only
1              694900                                                                                NaN                      NaN                  NaN           NaN                          NaN              NaN             NaT  left_only                            NaN                        NaN  left_only                    NaN                    NaN  left_only                      NaN                  NaN             NaT  left_only

###Renomeando Linkage Final

In [ ]:
Cadastro_Mestre_Pessoas = linkage_D

In [ ]:
Cadastro_Mestre_Pessoas.head(2)

   co_fat_cidadao_pec co_dim_sexo_CP co_dim_identidade_genero_CP co_dim_tempo_nascimento  co_dim_sexo_CI  co_dim_unidade_saude_CI  co_dim_municipio_CI  co_dim_tempo  co_dim_identidade_genero_CI dt_nascimento_CI co_dim_tempo_CI    _mergeA  co_seq_fat_cidadao_territorio  co_fat_familia_territorio    _mergeB  co_fat_cidadao_pec_FT  co_fat_cad_domiciliar    _mergeC  co_dim_tipo_localizacao  co_dim_municipio_CD co_dim_tempo_CD     _merge
0              694899                                                                                NaN                      NaN                  NaN           NaN                          NaN              NaN             NaT  left_only                            NaN                        NaN  left_only                    NaN                    NaN  left_only                      NaN                  NaN             NaT  left_only
1              694900                                                                                NaN                      NaN                  NaN           NaN                          NaN              NaN             NaT  left_only                            NaN                        NaN  left_only                    NaN                    NaN  left_only                      NaN                  NaN             NaT  left_only

In [ ]:
Cadastro_Mestre_Pessoas.shape

(135558, 22)

In [ ]:
Cadastro_Mestre_Pessoas.dtypes

co_fat_cidadao_pec                        int64
co_dim_sexo_CP                           object
co_dim_identidade_genero_CP              object
co_dim_tempo_nascimento                  object
co_dim_sexo_CI                          float64
co_dim_unidade_saude_CI                 float64
co_dim_municipio_CI                     float64
co_dim_tempo                            float64
co_dim_identidade_genero_CI             float64
dt_nascimento_CI                         object
co_dim_tempo_CI                  datetime64[ns]
_mergeA                                category
co_seq_fat_cidadao_territorio           float64
co_fat_familia_territorio               float64
_mergeB                                category
co_fat_cidadao_pec_FT                   float64
co_fat_cad_domiciliar                   float64
_mergeC                                category
co_dim_tipo_localizacao                 float64
co_dim_municipio_CD                     float64
co_dim_tempo_CD                  datetime64[ns]
_merge                                 category
dtype: object

## Juntar Colunas Duplicadas

###**Identidade de gÃªnero**

In [ ]:
Cadastro_Mestre_Pessoas['co_dim_identidade_genero_CI'] = Cadastro_Mestre_Pessoas['co_dim_identidade_genero_CI'].astype(str)
Cadastro_Mestre_Pessoas['co_dim_identidade_genero_CI'].value_counts()

5.0    82158
nan    52924
4.0      415
1.0       56
2.0        5
Name: co_dim_identidade_genero_CI, dtype: int64

In [ ]:
Cadastro_Mestre_Pessoas['co_dim_identidade_genero_CP'].value_counts()

5.0    87045
       48062
4.0      389
1.0       57
2.0        5
Name: co_dim_identidade_genero_CP, dtype: int64

In [ ]:
Cadastro_Mestre_Pessoas_MERGE = Cadastro_Mestre_Pessoas.assign(**{
    'CO_DIM_IDENTIDADE_GENERO': Cadastro_Mestre_Pessoas['co_dim_identidade_genero_CI'].mask(
        lambda x: x == 'nan', Cadastro_Mestre_Pessoas['co_dim_identidade_genero_CP'])})

In [ ]:
Cadastro_Mestre_Pessoas_MERGE['CO_DIM_IDENTIDADE_GENERO']=pd.to_numeric(Cadastro_Mestre_Pessoas_MERGE['CO_DIM_IDENTIDADE_GENERO'])
Cadastro_Mestre_Pessoas_MERGE['CO_DIM_IDENTIDADE_GENERO']=Cadastro_Mestre_Pessoas_MERGE['CO_DIM_IDENTIDADE_GENERO'].astype(str)
Cadastro_Mestre_Pessoas_MERGE['CO_DIM_IDENTIDADE_GENERO'].value_counts()

5.0    88574
nan    46507
4.0      416
1.0       56
2.0        5
Name: CO_DIM_IDENTIDADE_GENERO, dtype: int64

###**Sexo**

In [ ]:
Cadastro_Mestre_Pessoas_MERGE['co_dim_sexo_CI'] = Cadastro_Mestre_Pessoas_MERGE['co_dim_sexo_CI'].astype(str)
Cadastro_Mestre_Pessoas_MERGE['co_dim_sexo_CI'].value_counts()

nan    52924
2.0    42779
1.0    39855
Name: co_dim_sexo_CI, dtype: int64

In [ ]:
Cadastro_Mestre_Pessoas_MERGE['co_dim_sexo_CP'].value_counts()

       48062
2.0    45488
1.0    42008
Name: co_dim_sexo_CP, dtype: int64

In [ ]:
Cadastro_Mestre_Pessoas_MERGE = Cadastro_Mestre_Pessoas_MERGE.assign(**{
    'CO_DIM_SEXO': Cadastro_Mestre_Pessoas_MERGE['co_dim_sexo_CI'].mask(
        lambda x: x == 'nan', Cadastro_Mestre_Pessoas_MERGE['co_dim_sexo_CP'])})

In [ ]:
Cadastro_Mestre_Pessoas_MERGE['CO_DIM_SEXO']=pd.to_numeric(Cadastro_Mestre_Pessoas_MERGE['CO_DIM_SEXO'])
Cadastro_Mestre_Pessoas_MERGE['CO_DIM_SEXO']=Cadastro_Mestre_Pessoas_MERGE['CO_DIM_SEXO'].astype(str)
Cadastro_Mestre_Pessoas_MERGE['CO_DIM_SEXO'].value_counts()

nan    46507
2.0    46387
1.0    42664
Name: CO_DIM_SEXO, dtype: int64

In [ ]:
Cadastro_Mestre_Pessoas_MERGE = Cadastro_Mestre_Pessoas_MERGE.drop(['co_dim_sexo_CP'], axis = 1)
Cadastro_Mestre_Pessoas_MERGE.shape

(135558, 23)

###**CidadÃ£o PEC**


> Apenas fazemos o drop da coluna duplicada que surge a partir do linkage com o FamÃ­lia TerritÃ³rio. A variÃ¡vel co_fat_cidadao_pec utilizada como chave no inÃ­cio do linkage serÃ¡ sempre completa.

In [ ]:
Cadastro_Mestre_Pessoas_MERGE = Cadastro_Mestre_Pessoas_MERGE.drop(columns=['co_fat_cidadao_pec_FT'])

###**CNS**


> Se por acaso utilizarmos como chave, temos que retirar os zeros.

In [ ]:
#Cadastro_Mestre_Pessoas_MERGE['nu_cns_CI'] = Cadastro_Mestre_Pessoas_MERGE['nu_cns_CI'].astype('Int64')
#Cadastro_Mestre_Pessoas_MERGE['nu_cns_CI'].value_counts()

In [ ]:
#Cadastro_Mestre_Pessoas_MERGE['nu_cns_CP'].value_counts()

In [ ]:
# merge same column of two dataframe in only 1
'''
Cadastro_Mestre_Pessoas_MERGE = Cadastro_Mestre_Pessoas_MERGE.assign(**{
    'NU_CNS': Cadastro_Mestre_Pessoas_MERGE['nu_cns_CP'].mask(
        lambda x: x == '', Cadastro_Mestre_Pessoas_MERGE['nu_cns_CI'])})
'''

"\nCadastro_Mestre_Pessoas_MERGE = Cadastro_Mestre_Pessoas_MERGE.assign(**{\n    'NU_CNS': Cadastro_Mestre_Pessoas_MERGE['nu_cns_CP'].mask(\n        lambda x: x == '', Cadastro_Mestre_Pessoas_MERGE['nu_cns_CI'])})\n"

In [ ]:
#Cadastro_Mestre_Pessoas_MERGE['NU_CNS'].value_counts()

###**CPF**


> O mesmo acontece aqui, se for usar como chave, tiramos os zeros.

In [ ]:
'''
Cadastro_Mestre_Pessoas_MERGE['nu_cpf_cidadao_CI'] = Cadastro_Mestre_Pessoas_MERGE['nu_cpf_cidadao_CI'].astype('Int64').astype('str')
Cadastro_Mestre_Pessoas_MERGE['nu_cpf_cidadao_CI'] = Cadastro_Mestre_Pessoas_MERGE['nu_cpf_cidadao_CI'].apply(lambda x: x.zfill(11))
Cadastro_Mestre_Pessoas_MERGE['nu_cpf_cidadao_CI'].value_counts()
'''

"\nCadastro_Mestre_Pessoas_MERGE['nu_cpf_cidadao_CI'] = Cadastro_Mestre_Pessoas_MERGE['nu_cpf_cidadao_CI'].astype('Int64').astype('str')\nCadastro_Mestre_Pessoas_MERGE['nu_cpf_cidadao_CI'] = Cadastro_Mestre_Pessoas_MERGE['nu_cpf_cidadao_CI'].apply(lambda x: x.zfill(11))\nCadastro_Mestre_Pessoas_MERGE['nu_cpf_cidadao_CI'].value_counts()\n"

In [ ]:
#Cadastro_Mestre_Pessoas_MERGE['nu_cpf_cidadao_CP'].value_counts()

In [ ]:
# merge same column of two dataframe in only 1
'''
Cadastro_Mestre_Pessoas_MERGE = Cadastro_Mestre_Pessoas_MERGE.assign(**{
    'NU_CPF': Cadastro_Mestre_Pessoas_MERGE['nu_cpf_cidadao_CP'].mask(
        lambda x: x == '', Cadastro_Mestre_Pessoas_MERGE['nu_cpf_cidadao_CI'])})
'''

"\nCadastro_Mestre_Pessoas_MERGE = Cadastro_Mestre_Pessoas_MERGE.assign(**{\n    'NU_CPF': Cadastro_Mestre_Pessoas_MERGE['nu_cpf_cidadao_CP'].mask(\n        lambda x: x == '', Cadastro_Mestre_Pessoas_MERGE['nu_cpf_cidadao_CI'])})\n"

In [ ]:
#Cadastro_Mestre_Pessoas_MERGE['NU_CPF'].value_counts()

###**Data de nascimento**


> Aqui ainda temos 17 casos onde temos a data preenchida em "co_dim_tempo_nascimento" mas que na coluna final agrupada continuamos com missing, logo o cÃ³digo [475] nÃ£o estÃ¡ funcionando corretamente. Acho que tem a ver com o 'NaN' que nÃ£o temos nas colunas. O total de missing dessa coluna deve ser 13380, mas estÃ¡ com 13397.

In [ ]:
Cadastro_Mestre_Pessoas_MERGE['co_dim_tempo_nascimento'] = pd.to_datetime(Cadastro_Mestre_Pessoas_MERGE['co_dim_tempo_nascimento'].astype(str), format='%Y-%m-%d',errors='coerce')
Cadastro_Mestre_Pessoas_MERGE['co_dim_tempo_nascimento'].isnull().sum()

135558

In [ ]:
Cadastro_Mestre_Pessoas_MERGE['co_dim_tempo_nascimento'].value_counts()

Series([], Name: co_dim_tempo_nascimento, dtype: int64)

In [ ]:
Cadastro_Mestre_Pessoas_MERGE['dt_nascimento_CI'] = pd.to_datetime(Cadastro_Mestre_Pessoas_MERGE['dt_nascimento_CI'].astype(str), format='%Y-%m-%d',errors='coerce')
Cadastro_Mestre_Pessoas_MERGE['dt_nascimento_CI'].fillna(pd.NaT, inplace=True)

In [ ]:
Cadastro_Mestre_Pessoas_MERGE['dt_nascimento_CI'].value_counts()

1974-06-10    23
1982-06-08    14
1975-06-28    14
1983-05-03    13
1962-02-07    13
              ..
1977-12-04     1
1960-02-14     1
1997-01-15     1
1966-08-06     1
1936-11-25     1
Name: dt_nascimento_CI, Length: 27920, dtype: int64

In [ ]:
Cadastro_Mestre_Pessoas_MERGE['dt_nascimento_CI'].isnull().sum()

52925

In [ ]:
# merge same column of two dataframe in only 1
Cadastro_Mestre_Pessoas_MERGE = Cadastro_Mestre_Pessoas_MERGE.assign(**{
    'DT_NASCIMENTO': Cadastro_Mestre_Pessoas_MERGE['dt_nascimento_CI'].mask(
        lambda x: x == 'NaT', Cadastro_Mestre_Pessoas_MERGE['co_dim_tempo_nascimento'])})

In [ ]:
Cadastro_Mestre_Pessoas_MERGE['DT_NASCIMENTO'].isnull().sum()

52925

In [ ]:
Cadastro_Mestre_Pessoas_MERGE['DT_NASCIMENTO'].value_counts()

1974-06-10    23
1982-06-08    14
1975-06-28    14
1983-05-03    13
1962-02-07    13
              ..
1977-12-04     1
1960-02-14     1
1997-01-15     1
1966-08-06     1
1936-11-25     1
Name: DT_NASCIMENTO, Length: 27920, dtype: int64

In [ ]:
#Cadastro_Mestre_Pessoas_MERGE = Cadastro_Mestre_Pessoas_MERGE.drop(columns=['co_dim_identidade_genero_CI','co_dim_identidade_genero_CP','co_dim_sexo_CI','co_dim_sexo_CP','co_fat_cidadao_pec','co_fat_cidadao_pec_FT',
                                                                            #'nu_cns_CP','nu_cns_CI','nu_cpf_cidadao_CP','nu_cpf_cidadao_CI','dt_nascimento_CI','co_dim_tempo_nascimento'])

In [ ]:
Cadastro_Mestre_Pessoas_MERGE.shape

(135558, 23)

In [ ]:
Cadastro_Mestre_Pessoas_MERGE.head(7)

   co_fat_cidadao_pec co_dim_identidade_genero_CP co_dim_tempo_nascimento co_dim_sexo_CI  co_dim_unidade_saude_CI  co_dim_municipio_CI  co_dim_tempo co_dim_identidade_genero_CI dt_nascimento_CI co_dim_tempo_CI    _mergeA  co_seq_fat_cidadao_territorio  co_fat_familia_territorio    _mergeB  co_fat_cad_domiciliar    _mergeC  co_dim_tipo_localizacao  co_dim_municipio_CD co_dim_tempo_CD     _merge CO_DIM_IDENTIDADE_GENERO CO_DIM_SEXO DT_NASCIMENTO
0              694899                                                 NaT            nan                      NaN                  NaN           NaN                         nan              NaT             NaT  left_only                            NaN                        NaN  left_only                    NaN  left_only                      NaN                  NaN             NaT  left_only                      nan         nan           NaT
1              694900                                                 NaT            nan                      NaN                  NaN           NaN                         nan              NaT             NaT  left_only                            NaN                        NaN  left_only                    NaN  left_only                      NaN                  NaN             NaT  left_only                      nan         nan           NaT
2              694901                                                 NaT            nan                      NaN                  NaN           NaN                         nan              NaT             NaT  left_only                            NaN                        NaN  left_only                    NaN  left_only                      NaN                  NaN             NaT  left_only                      nan         nan           NaT
3              749364                         5.0                     NaT            2.0                    498.0               9196.0    20180919.0                         5.0       1992-03-21      2018-09-19       both                      1034258.0                        NaN       both                    NaN  left_only                      NaN                  NaN             NaT  left_only                      5.0         2.0    1992-03-21
4              694902                                                 NaT            nan                      NaN                  NaN           NaN                         nan              NaT             NaT  left_only                            NaN                        NaN  left_only                    NaN  left_only                      NaN                  NaN             NaT  left_only                      nan         nan           NaT
5              718541                         5.0                     NaT            1.0                    505.0               9196.0    20160805.0                         5.0       2013-02-28      2016-08-05       both                      2321681.0                   821474.0       both               408748.0       both                      2.0               9196.0      2017-05-25       both                      5.0         1.0    2013-02-28
6              813648                         5.0                     NaT            nan                      NaN                  NaN           NaN                         nan              NaT             NaT  left_only                            NaN                        NaN  left_only                    NaN  left_only                      NaN                  NaN             NaT  left_only                      5.0         2.0           NaT

# Exportando para Excel

In [ ]:
#Cadastro_Mestre_Pessoas_MERGE.to_excel('/content/gdrive/Shareddrives/eSUS_Colab/IRECÃ/PAINEL_IRECE/OUTPUT/IRECE_CADASTRO_MESTRE_PESSOAS.xlsx')

In [ ]:
Cadastro_Mestre_Pessoas_MERGE.to_excel('/content/gdrive/Shareddrives/eSUS_Colab/PAINEL_OURO_PRETO/OUTPUT/OURO_PRETO_CADASTRO_MESTRE_PESSOAS_PRODUCAO.xlsx')

In [ ]:
#DATA_IRECE = pd.read_excel('/content/gdrive/Shareddrives/eSUS_Colab/IRECÃ/PAINEL_IRECE/OUTPUT/IRECE_CADASTRO_MESTRE_PESSOAS.xlsx')